#header {
  background-color: blue;
  color: black;
  padding: 4px;
  border-color: red;
  border-width: 6px;
  border-style: solid;
  margin: 5px;
}

p#error-msg {
  text-align: center;
  font-family: Courier New;
}

#not-a-number {
  display: none;
}

#not-an-int {
  display: none;
}

#number-list {
  display: none;
}
