body {
  background-color: lightgrey;
}

#header {
  background-color: #b3b3ff;
  color: black;
  padding: 4px;
  border-color: red;
  border-width: 6px;
  border-style: solid;
  margin: 5px;
}

#header img {
  display: block;
  width: 80%;
  padding: 4px;
  margin: 20px;
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

#header h2 {
  text-align: center;
}

#header p {
  text-align: justify;
  margin: 0 auto;
  width: 80%;
  font-size: 15pt;
}

#input-col {
  width: 40%;
  padding: 4px;
  border-color: red;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 1px;
}

#input-col label {
  padding: 4px;
  margin: 8px;
  font-size: 10pt;
}

.radio {
  padding: 4px;
  margin: 8px;
  font-size: 10pt;
}

h3 {
  padding: 4px;
  margin: 4px;
  font-family: Courier New;
  font-weight: 500;
}

.form-control {
  width: 80%;
  padding: 6px;
  margin: 6px;
}

.btn {
  padding: 6px;
  margin: 6px;
}

#output-col {
  width: 40%;
  padding: 4px;
  border-color: red;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-right-width: 2px;
}

#output-col p {
  padding: 4px;
  margin: 8px;
  font-size: 10pt;
}

#not-a-number img, #not-an-int img {
  display: block;
  width: 50%;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

#error-msg {
  text-align: center;
  font-family: Courier New;
}

#not-a-number {
  display: none;
}

#not-an-int {
  display: none;
}

#number {
  display: none;
}

#number-list {
  font-family: Courier New;
  font-size: 9pt;
  text-align: center;
}

#number-list ul {
  list-style: none;
  display: inline;
}

#number-list li {
  display: block;
}

#number-list img {
  width: 20px;
  height: 20px;
}
